* {
    margin: 0;
    padding: 0;
}

#Image {
    z-index: -999;
    height: 100dvh;
    width: 201dvh;

}


.casper2 {
    position: relative;
    display: inline-block;

}

#name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 44px;
    font-weight: bold;
}

#casper3 {
   position: absolute;
    top: 10px;       
    left: 50px;      
    background-color: rgb(0, 0, 0,0.5);
    width: 40px;
    text-align: center;
    padding: 40px;
    color: rgb(252, 249, 249);
    border-radius: 6px; 
    border: 2px solid cyan
}

#casper4 {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 177px;
    padding: 30px;
    height: -125px;
    color: white;
    border: 2px solid cyan;
    background-color: rgb(0, 0, 0,0.5)

}

#casper5 {
    position: absolute;
    top: 210px;
    left: 200px;
    width: 177px;
    padding: 30px;
    height: 125px;
    border: 2px solid cyan;
    background-color: white
    

}